# Importação e tratamento de dados

### Instalando módulos

In [ ]:
!pip3 install pandas

### Importando módulos

In [ ]:
import pandas as pd

### Criando Dataframes

- Baixando dados

In [9]:
df_pokemons = pd.read_csv("https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv")

- Validando os dados baixados

In [10]:
df_pokemons.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Separando o dataframe original em menores

- Pokemons e seus tipos

In [11]:
df_pk_types = df_pokemons[['#', 'Name', 'Type 1', 'Type 2']]

df_pk_types.head()

   #                   Name Type 1  Type 2
0  1              Bulbasaur  Grass  Poison
1  2                Ivysaur  Grass  Poison
2  3               Venusaur  Grass  Poison
3  3  VenusaurMega Venusaur  Grass  Poison
4  4             Charmander   Fire     NaN

- Pokemons e seus status

In [12]:
df_pk_status = df_pokemons[['#', 'Name', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def']]

df_pk_status.head()

   #                   Name  Total  HP  Attack  Defense  Sp. Atk  Sp. Def
0  1              Bulbasaur    318  45      49       49       65       65
1  2                Ivysaur    405  60      62       63       80       80
2  3               Venusaur    525  80      82       83      100      100
3  3  VenusaurMega Venusaur    625  80     100      123      122      120
4  4             Charmander    309  39      52       43       60       50

- Pokemons e suas gerações

In [13]:
df_pk_gen = df_pokemons[['#', 'Name', 'Generation', 'Legendary']]

df_pk_gen.head()

   #                   Name  Generation  Legendary
0  1              Bulbasaur           1      False
1  2                Ivysaur           1      False
2  3               Venusaur           1      False
3  3  VenusaurMega Venusaur           1      False
4  4             Charmander           1      False

- Unindo os dataframes

In [19]:
df_pk_data_part1 = pd.merge(df_pk_types, df_pk_status, on=['Name', '#'])

df_pk_data_union = pd.merge(df_pk_data_part1, df_pk_gen, on=['Name', '#'])

df_pk_data_union.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,1,False